<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Sambhalo</title>
      <link rel="stylesheet" 
         href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
         crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="/app.css" type="text/css" rel="stylesheet">
   </head>
   <body>
      <nav id="mainNavbar" class="navbar navbar-dark bg-dark navbar-expand-md py-0 fixed-top">
         <div class="container">
            <a href="/" class="navbar-brand"><i class="fa fa-calendar" aria-hidden="true"></i>  SAMBHALO</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navbar">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navLinks">
               <ul class="navbar-nav">
                  <li class="navbar-item">
                     <a href="/meeting" class="nav-link">CHECKED IN ?</a>
                  </li>
                  <li class="navbar-item">
                        <a href="/newHost" class="nav-link">ADD A HOST</a>
                     </li>
               </ul>
            </div>   
         </nav>
      </div>
   <div class="container">
      
         