@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

html,
body {
	font-family: 'Nunito', sans-serif;
	background: #eacda3;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #d6ae7b, #eacda3);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #d6ae7b, #eacda3);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#mainNavbar {
	font-size: 1rem;
	font-weight: 100;
}

#jumbo {
	font-size: 2rem;
	text-align: center;
	font-weight: 300;
	opacity: 0.8;
}

#jumbo #mainHeader {
	font-size: 3.2rem;
	text-align: center;
	font-weight: 100;
}

#visitorForm {
	font-size: 1.2rem;
}

button {
	font-size: 1.5rem;
	font-weight: 100;
	letter-spacing: 0.1rem;
}

h4,
legend {
	letter-spacing: 0.5rem;
	margin-bottom: 5%;
}

table {
	text-align: center;
	width: 100%;
}

input[type=radio] {
	border: 0px;
	width: 100%;
	height: 1rem;
}

.notifi {
	padding-top: 50px;
}